<div class="container mt-4 text-start">
  <h2 class="mb-4">Respuestas Claustro 2025</h2>

  <h4>Preguntas Cerradas</h4>
  <ul>
    <li>
      <strong>1. En el año 2050, la Universidad del Alba debiera ser una institución cocreadora de conocimiento junto a comunidades, estudiantes y empresas.</strong><br>
      <%= @block2_survey_response.q1 %>
    </li>
    <li>
      <strong>2. El enfoque interdisciplinario será esencial en la formación de profesionales universitarios hacia el año 2050.</strong><br>
      <%= @block2_survey_response.q2 %>
    </li>
    <li>
      <strong>3. La educación personalizada será un componente clave de la formación universitaria hacia el año 2050.</strong><br>
      <%= @block2_survey_response.q3 %>
    </li>
    <li>
      <strong>4. La sostenibilidad ambiental debe ser considerada una prioridad en la infraestructura universitaria al año 2050.</strong><br>
      <%= @block2_survey_response.q4 %>
    </li>
    <li>
      <strong>5. La Universidad del Alba debe adoptar un modelo de gobernanza más ágil, participativo y adaptable a los cambios hacia 2050.</strong><br>
      <%= @block2_survey_response.q5 %>
    </li>
    <li>
      <strong>6. ¿Considera que los entornos inmersivos (realidad virtual o aumentada) tendrán un rol importante en la educación del futuro?</strong><br>
      <%= @block2_survey_response.q6 %>
    </li>
  </ul>
<% if Current.user.admin? || Current.user.supervisor? %>
  <h4 class="mt-4">Preguntas Abiertas</h4>
  <div class="mb-3">
    <strong>1. Si pensamos en la Universidad del Alba en el año 2050: ¿Qué tipo de institución queremos que sea y qué papel debiera cumplir en la sociedad?</strong>
    <p><%= simple_format(@block2_survey_response.qoa1) %></p>
  </div>
  <div class="mb-3">
    <strong>2. ¿Qué transformaciones debemos comenzar hoy para construir esa universidad del futuro?</strong>
    <p><%= simple_format(@block2_survey_response.qoa2) %></p>
  </div>
  <div class="mb-3">
    <strong>3. ¿Qué valores o principios fundamentales no deberían perderse, incluso en un contexto de transformación profunda hacia 2050?</strong>
    <p><%= simple_format(@block2_survey_response.qoa3) %></p>
  </div>
  <div class="mb-3">
    <strong>4. ¿Qué innovaciones, prácticas o modelos de otras universidades (en Chile o el mundo) nos inspiran para pensar en el futuro de la Universidad del Alba?</strong>
    <p><%= simple_format(@block2_survey_response.qoa4) %></p>
  </div>
<% end %>
  <div class="mt-3">
    <%= link_to 'Editar', edit_block2_survey_response_path(@block2_survey_response), class: "btn btn-primary me-2" %>
    <%= link_to 'Volver', block2_survey_responses_path, class: "btn btn-secondary" %>
  </div>
</div>
