<div class="row">
  <div class="col-md-5 mx-auto">

    <%= link_to universidad_path, class: "text-decoration-none" do %>
      <div class="block"><h4>Universidad y conocimiento</h4></div>
    <% end %>

    <%= link_to transformacion_path, class: "text-decoration-none" do %>
      <div class="block"><h4>Transformación tecnológica y digital</h4></div>
    <% end %>

    <%= link_to desigualdades_path, class: "text-decoration-none" do %>
      <div class="block"><h4>Desigualdades y acceso</h4></div>
    <% end %>

    <%= link_to vinculacion_path, class: "text-decoration-none" do %>
      <div class="block"><h4>Vinculación con la sociedad</h4></div>
    <% end %>

    <%= link_to gobernanza_path, class: "text-decoration-none" do %>
      <div class="block"><h4><em>Gobernanza adaptativa</em></h4></div>
    <% end %>

    <%= link_to infraestructura_path, class: "text-decoration-none" do %>
      <div class="block"><h4><em>Insfraestructura Sostenible</em></h4></div>
    <% end %>

    <%= link_to gestion_datos_path, class: "text-decoration-none" do %>
      <div class="block"><h4>Gestión y análisis de datos</h4></div>
    <% end %>

    <%= link_to preguntas_b2_path, class: "text-decoration-none" do %>
      <div class="block"><h4>Preguntas</h4></div>
    <% end %>

  </div>
</div>
